---
import Card from "./Card.astro";
import CardSkill from "./CardSkill.astro";
const skills = [
  {
    title: "Reactjs",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit",
    image:
      "https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png",
    option: "2",
  },
  {
    title: "Angular",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit",
    image:
      "https://static-00.iconduck.com/assets.00/file-type-angular-icon-1907x2048-tobdkjt1.png",
    option: "1",
  },
  {
    title: "Nextjs",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit",
    image:
      "https://static-00.iconduck.com/assets.00/next-js-icon-2048x2048-5dqjgeku.png",
    option: "1",
  },
  {
    title: "Nodejs",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit",
    image:
      "https://static-00.iconduck.com/assets.00/node-js-icon-227x256-913nazt0.png",
    option: "1",
  },
  {
    title: "Nestjs",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit",
    image:
      "https://static-00.iconduck.com/assets.00/nestjs-icon-2048x2040-3rrvcej8.png",
    option: "0",
  },

  {
    title: "SpringBoot",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit",
    image:
      "https://vscjava.gallerycdn.vsassets.io/extensions/vscjava/vscode-spring-boot-dashboard/0.13.2023072200/1689984300042/Microsoft.VisualStudio.Services.Icons.Default",
    option: "1",
  },

  {
    title: "Astrojs",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit",
    image: "https://astro.js.org/astro.png",
    option: "0",
  },

  {
    title: "Bases de datos",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit",
    image:
      "https://static-00.iconduck.com/assets.00/sql-database-sql-azure-icon-1955x2048-4pmty46t.png",
    option: "1",
  },

  {
    title: "Diseño web",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit",
    image: "https://cdn-icons-png.flaticon.com/512/3159/3159310.png",
    option: "1",
  },
];
---

<section class="w-full dark:bg-slate-900 pb-12">
  <div class="px-16 py-8 w-full flex flex-col">
    <header class="w-full flex justify-center">
      <h2
        class="text-[4rem] dark:text-white text-center w-fit border-b-4 border-purple-400"
      >
        Habilidades
      </h2>
    </header>
    <div class="flex flex-row items-center font-bold mt-8">
      <div class="flex flex-col font-extralight items-center">
        <div class="w-full px-52 text-center">
          <p class="dark:text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
            repellendus eius quos maiores repudiandae, possimus amet ea rem
            inventore, quaerat numquam tenetur consequuntur deleniti! Architecto
            accusantium at dolorem natus optio?
          </p>
        </div>
        <div class="flex flex-col mt-8 w-full justify-center">
          <div class="flex flex-wrap gap-4 items-center justify-center">
            {
              skills.map((item, index) => (
                <CardSkill
                  key={index}
                  title={item.title}
                  description={item.description}
                  image={item.image}
                  option={item.option}
                />
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
