---
import CardSkill from "./CardSkill.astro";
const skills = [
  {
    title: "Reactjs",
    description:
      "Librería de JavaScript para construir interfaces de usuario dinámicas y altamente interactivas.",
    image:
      "https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png",
    option: "2",
  },
  {
    title: "Angular",
    description:
      "Framework robusto de TypeScript para desarrollar aplicaciones web escalables con una arquitectura modular.",
    image:
      "https://static-00.iconduck.com/assets.00/file-type-angular-icon-1907x2048-tobdkjt1.png",
    option: "1",
  },
  {
    title: "Nextjs",
    description:
      "Framework de React.js para la construcción de aplicaciones web con enfoque en el renderizado del lado del servidor.",
    image:
      "https://static-00.iconduck.com/assets.00/next-js-icon-2048x2048-5dqjgeku.png",
    option: "1",
  },
  {
    title: "Nodejs",
    description:
      "Entorno de ejecución de JavaScript del lado del servidor que permite construir aplicaciones escalables y de alto rendimiento.",
    image:
      "https://static-00.iconduck.com/assets.00/node-js-icon-227x256-913nazt0.png",
    option: "1",
  },
  {
    title: "Nestjs",
    description:
      "Framework de Node.js para la construcción de aplicaciones server-side eficientes, basado en TypeScript y con una arquitectura modular.",
    image:
      "https://static-00.iconduck.com/assets.00/nestjs-icon-2048x2040-3rrvcej8.png",
    option: "0",
  },

  {
    title: "SpringBoot",
    description:
      "Framework de Java para el desarrollo rápido de aplicaciones web y microservicios, facilitando la creación de sistemas robustos y escalables.",
    image:
      "https://vscjava.gallerycdn.vsassets.io/extensions/vscjava/vscode-spring-boot-dashboard/0.13.2023072200/1689984300042/Microsoft.VisualStudio.Services.Icons.Default",
    option: "1",
  },

  {
    title: "Astrojs",
    description:
      "Plataforma moderna de construcción de sitios web que combina la eficiencia del lado del servidor con la potencia del lado del cliente para ofrecer experiencias web rápidas.",
    image: "https://astro.js.org/astro.png",
    option: "0",
  },

  {
    title: "Bases de datos",
    description:
      "Experiencia en el diseño, implementación y gestión de bases de datos SQL y NoSQL para asegurar un almacenamiento eficiente y seguro de la información.",
    image:
      "https://static-00.iconduck.com/assets.00/sql-database-sql-azure-icon-1955x2048-4pmty46t.png",
    option: "1",
  },

  {
    title: "Diseño web",
    description:
      "Habilidad en la creación de interfaces visuales atractivas y funcionales para sitios web, combinando diseño y desarrollo para una experiencia completa.",
    image: "https://cdn-icons-png.flaticon.com/512/3159/3159310.png",
    option: "1",
  },
];
---

<section class="w-full dark:bg-slate-900 pb-12">
  <div class="px-16 py-8 w-full flex flex-col">
    <header class="w-full flex justify-center">
      <h2
        class="text-[4rem] dark:text-white text-center w-fit border-b-4 border-purple-400"
      >
        Habilidades
      </h2>
    </header>
    <div class="flex flex-row items-center font-bold mt-8">
      <div class="flex flex-col font-extralight items-center">
        <div class="w-full px-52 text-center">
          <p class="dark:text-white">
            Durante la trayectoria de mi vida académica he podido aprender
            ciertas tecnologías que me ayudaron a mejorar en este mundo, aqui
            hay un pequeño listado de ellas.
          </p>
        </div>
        <div class="flex flex-col mt-8 w-full justify-center">
          <div class="flex flex-wrap gap-4 items-center justify-center">
            {
              skills.map((item, index) => (
                <CardSkill
                  key={index}
                  title={item.title}
                  description={item.description}
                  image={item.image}
                  option={item.option}
                />
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
